body {
   background-image: url(../img/fundo.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


header {
   background-color: #0000ff;
   color: rgb(12,11,11);
}